* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

body {
  /*background-image: url(../images/Fondo1.png);*/
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

header {
  display: flex;
  justify-content: space-between;
  min-height: 70px;
  /*backdrop-filter: blur(10px);*/
  background-color: #ee9652;
  align-items: center;
  padding: 10px;
  
}



.logo {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  text-decoration: none;
}

.logo img {
  height: 80px;
  margin-right: 10px;
  
}

header h2 {
  color: #f06825;
  
}

.icono {
  height: 50px;
  padding: 10px;
  vertical-align: middle;
}

.link {
  text-decoration: none;
  padding-left: 10px;
  color: black;
  transition: color 300ms;
  font-size:large;
  transition: color 300ms;

  
}

nav .link {
  font-weight: 600;
  padding-right: 10px;
  list-style: none;
}

nav .link:hover {
  color:white;
}

@media (max-width: 700px) {
  header {
    flex-direction: column;
  }

  nav {
    padding: 10px 0px;
  }
}
