h1 {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: rgb(0, 0, 0);
  padding-bottom: 20px;
}

.container-alimento {
  width: 100%;
  height: 937px;
  background-color: #acc0d6;
  background-size: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

form {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  display: inline-block;
  flex-direction: column;
  
}

form .titulos {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 2px;
  color: #dbc8aa;
  text-shadow: black 0.1em 0.1em 0.2em;
  text-align: left;
}

form .input {
  width: 300px;
  height: 30px;
  margin-bottom: 10px;
  border:1px black solid;
  border-radius: 5px;
  font-size: small;
  padding: 5px;
  display: flex;
  align-items: center;
  align-content: center;
}

form button {
  padding: 5px 5px;
  margin: 10px 10px;

  font-size: large;
  border-radius: 10px;
  background: #f9c231;
  cursor: pointer;
  width: 100px;
  text-align: center;
  text-decoration: none;
  transition: color 300ms;
}

form button:hover {
  background: #dd7947;
  color: black;
  box-shadow: 3px 3px 1px 1px rgba(0, 0, 0, 0.2);
}

img {
  height: 100px;
  margin: 10px auto;
}

table {
  border: 1px solid;
  margin: 60px;
  padding: 10px;
}

table th {
  margin: 10px;
  padding: 10px;
  text-align: center;
  border: 1px solid;
  font-size: large;
  color: white;
}

table td {
  margin: 10px;
  padding: 10px;
  text-align: center;
  border: 1px solid;
}

table thead {
  background: radial-gradient(#52618e, #a2afdd);
  border: black;
}

table tbody tr:nth-child(odd) {
  background-color: #b9c9fd;
  margin: 10px;
  padding: 10px;
  text-align: center;
  border: 1px solid;
}

table tbody tr:nth-child(even) {
  background-color: #e8edff;
  margin: 10px;
  padding: 10px;
  text-align: center;
  border: 1px solid;
}

.container-tabla {
  width: 100%;
  height: 937px;
  background-color: #ffffff;
  background-size: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.crear {
  padding: 8px 8px;
  font-size: large;
  border-radius: 10px;
  background: #f9c231;
  cursor: pointer;
  width: 100px;
  text-align: center;
  text-decoration: none;
  color: black;
  /* margin-top: 150px; */
  margin-right: 15px;
  transition: color 300ms;
}

.crear:hover {
  background: #dd7947;
  color: white;
  box-shadow: 3px 3px 1px 1px rgba(0, 0, 0, 0.2);
}

