* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body {
  /*background-image: url(../images/Fondo1.png);*/
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
} 

header {
  display: flex;
  justify-content: space-between;
  min-height: 70px;
  /*backdrop-filter: blur(10px);*/
  background-color: #F78F1E;
  align-items: center;
  padding: 10px;
}

.logo {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
}

.logo img {
  height: 80px;
  margin-right: 10px;

}

h2 {

  color:#F06825 ;

}

.icono {
  height: 50px;
  padding: 10px;
  vertical-align: middle;
}

a {
  text-decoration: none;
  padding-left: 10px;
  color: white;
  transition: color 300ms;
}

nav a {

  font-weight: 500;
  padding-right: 10px;
  list-style: none; 
   

}



nav a:hover{

 color: black;

}


@media(max-width:700px){

 header {

  flex-direction: column;
 }

 nav{

  padding: 10px 0px;
 }




}
