* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body {
  margin-left: 80px;
  background-image: url(../images/Fondo1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  transition: margin-left 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

header {
  width: 100%;
  height: 80px;
  background: #f5f5f5;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 200;
}

.icon_menu {
  width: 50px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(10px);
}

.icon_menu i {
  font-size: 20px;
  cursor: pointer;
  position: absolute;
}

.menu__side {
  width: 80px;
  height: 100%;
  backdrop-filter: blur(10px);
  background: rgba(247, 154, 28, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  color: white;
  font-size: 18px;
  z-index: 300;
  overflow: hidden;
  border-right: 25px solid rgba(247, 154, 28, 0.5);
  border-color: transparent;
}

.menu__side::-webkit-scrollbar {
  display: none;
}

.menu__side{

     -ms-overflow-style: none;
     scrollbar-width: none;
}



.logo {
  height: 170px;
  padding: 20px 30px;
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-left: 20px;
}

.option__menu {
  padding: 20px 30px;
  position: absolute;
  top: 200px;
}

.option__menu a {
  color: #ffffffb2;
  cursor: default;
  display: block;
  position: relative;
  transition: color 300ms;
  text-decoration: none;
}

.option__menu a:hover {
  color: white;
}

.option__menu .option {
  padding: 20px 0px;
  display: flex;
  align-items: center;
  position: relative;
}

.option__menu .option i {
  width: 20px;
  margin-right: 20px;
  cursor: pointer;
}

.option__menu .option h4 {
  font-weight: 300;

  cursor: pointer;
}

a.selected {
  color: #fff;
}

.selected:before {
  content: "";
  width: 3px;
  height: 80%;
  background: white;
  position: absolute;
  top: 10%;
  left: -30px;
}

.body_move{

     margin-left: 250px;


}

.menu__side_move {

  width: 250px;
     
}