* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

body {
  /*background-image: url(../images/Fondo1.png);*/
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

main {
  width: 100%;
  padding: 20px;
  margin: auto;
  margin-top: 100px;
}

.contenedor__todo {
  width: 100%;
  max-width: 800px;
  margin: auto;
  position: relative;
}

.caja__trasera {
  width: 100%;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  backdrop-filter: blur(10px);
  background-color: rgba(247, 154, 28, 0.5);
}

.caja__trasera div {
  margin: 100px 40px;
  color: white;
  transition: all 500ms;
}

.caja__trasera p,
button {
  margin-top: 30px;
}

.caja__trasera div h2 {
  font-weight: 400;
  font-size: 26px;
}

.caja__trasera button {
  padding: 10px 40px;
  border: 2px solid #fff;
  background: transparent;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  color: #fff;
  outline: none;
  transition: all 300ms;
  border-radius: 10PX;
}

.caja__trasera button:hover {
  background: #dd7947;
  color: black;
}

/*Formularios*/

.contenedor__login-register {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 380px;
  position: relative;
  top: -185px;
  left: 10px;
  transition: left 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
}

.contenedor__login-register form {
  width: 100%;
  padding: 40px 20px;
  background: #fff;
  position: absolute;
  border-radius: 20px;
  border:  2px rgba(247, 154, 28, 0.6) solid; 
}

.contenedor__login-register form h2 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
  color: #f06825;
}

.contenedor__login-register form input {
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  border: none;
  background: #807e7e7e;
  font-size: 16px;
  outline: none;
}

.contenedor__login-register form button {
  padding: 10px 40px;
  margin-top: 40px;
  font-size: 14px;
  background: #F07030;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  outline: none;
}

.contenedor__login-register form button:hover{

     box-shadow: 3px 3px 1px 1px rgba(0, 0, 0, 0.2);

}

.formulario__login {
  opacity: 1;
  display: block;
}

.formulario__register {
  display: none;
}

.contenedor__login-register form img {
  margin: 10px auto;
  display: block;
  height: 150px;
  width: 150px;
  padding: 10px 10px;
}

@media screen and (max-width: 850px) {
  main {
    margin-top: 50px;
  }

  .caja__trasera {
    max-width: 350px;
    height: 300px;
    flex-direction: column;
    margin: auto;
  }
  .caja__trasera div {
    margin: 0px;
    position: absolute;
  }
  .contenedor__login-register {
    top: -10px;
    left: -5px;
    margin: auto;
  }

  .contenedor__login-register form {
    position: relative;
  }
}
